.chevron {
    &[data-rotate] {
        transform: rotate(45deg);
    }
}

.icon {
    width: rem(16px);
    height: rem(16px);
}

.label{
    height: rem(20px);
    padding: 0;
    font-size: 1rem;
}

.control{
    padding-left: 8px;
}

.content{
    padding:0
}